body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 2px;
    margin: 3px 0;
    position: relative;
    height: 37px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container-wrraper {
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
}

.container-wrraper p {
    padding: 0;
}

#container-scroll {
    margin-top: 10px;
    /* border: 1px solid; */
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}

#container-scroll::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    border-radius: 2px;
  }
  
  #container-scroll::-webkit-scrollbar-track {
    background: rgb(161, 161, 161);        /* color of the tracking area */
  }
  
  #container-scroll::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(75, 75, 75);  /* creates padding around scroll thumb */
  }
 

#message-input {
    margin-bottom: 5px;
}
#lucky-input {
    margin-bottom: 2px;
}
#reset-user {
    float: right;
}

.container-winner {
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}

#luck-number {
    color: red;
    font-size: 30px;
    font-weight: 700;
}

#time-reset {
    text-align: center;
    margin-bottom: 10px;
}

#time-reset span {
    font-weight: 700;
    font-size: 30px;
}

.setting {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 5px;
    padding-top: 2px;
}

.viewers { 
    float: right;
    margin-top: -20px;
}

.lucky-number {
    float: right;
    position: absolute;
    right: 5px;
    z-index: 20;
    background: #6155ff;
    padding: 5px;
    color: #FFF;
    top: 1px;
    /* height: 100%; */
    border-radius: 7px;
    width: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.left {
    float: left;
    margin-right: 3px;
}

.shoping {
    width: 128px;
    height: 15px;
    padding: 5px;
    background: #ffa1008c;
    border-radius: 16px;
    position: absolute;
    bottom: 50px;
    display: table;
    left: -210px;
    z-index: 200;
}

.shoping .icon-shoping {
    float: left;
    margin-left: 5px;
}
.shoping .text {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
}

.shoping .icon-shoping svg {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    color: #FFF;
}

.animate {
    transition: all 1s ease;
  }

                           /* ↓ just to position things  */
  .animate.left.move {
    left: 30%;
    transform: translate(-100%, 0);
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.popup {
    display: none;
    position: fixed;
    z-index: 25;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    margin-top: 300px;
    border-radius: 10px;
    text-align: center;
    display: grid;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  